goal: {{ package.goal | tojson }}
controls:
{% for control in package.controls %}  - {{ control | tojson }}
{% endfor %}concepts:
{% for item in package.selected_concepts %}  - id: {{ item.id | tojson }}
    layer: {{ item.layer | tojson }}
{% endfor %}rules:
{% for item in package.rule_results %}  - id: {{ item.rule_id | tojson }}
    passed: {{ item.passed | lower }}
{% endfor %}representation_projections:
{% for item in package.representation_projections %}  - mapping_id: {{ item.mapping_id | tojson }}
    target_id: {{ item.target_id | tojson }}
    format: {{ item.format | tojson }}
    template: {{ item.template | tojson }}
{% endfor %}
